@import "node_modules/material-ui/src/less/scaffolding.less";
@import "node_modules/material-ui/src/less/components.less";

@import "layout";
@import "overrides";
@import "checkbox";

#app{
  height: 100%;
}
#wrap{
  height: 100%;
}
svg{
  height: 100%;
  width: 80%;
  float: left;
  g{
  	text{
  		cursor: default;
  	}
  }
}
.wrap_configs{
	float: right;
	width: 19.9999%;
	.configs{
		padding: 10px;
		display: block;
		background-color: #333;
		border-radius: 5px;
		width: 90%;
		height: 700px;
		margin: 10px auto;
		color: #fff;
		.colors_switch{
			#span_switch_color{
				padding-bottom: 10px;
			}
			padding: 4px;
			.color_item{
				display: inline-block;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				margin-right: 9px;
				margin-top: 5px;
			}
			.color_item.active{
				border: 1px solid #fff;
			}
		}
		.wrapRadiusChanger{
			.showRadius{
				width: 40px;
				line-height: 30px;
				background-color: #444;
				padding: 4px;
				border-radius: 2px;
				margin-right: 20px;
			}
			.resetRadiusNode{
				width: 100px;
				background-color: #3BCDB5;
				color: #fff;
				border: none;
				border-radius: 20px;
				height: 25px;
			}
		}
	}
	.wrap_history{
		max-height: 150px;
		width: 100%;
		overflow-y: scroll;
		.history{
			max-height: 10000px;
		}
	}
}
.colorfff{
	color: #fff;
}
.wrapMatrix{
	overflow-y: scroll;
	max-height: 150px;
	table.Matrix{
		tr{
			td{
				padding: 0 5px;
			}
		}
	}	
}



