@import "node_modules/material-ui/src/less/scaffolding.less";
@import "node_modules/material-ui/src/less/components.less";

@import "layout";
@import "overrides";

#app{
      height: 100%;
    }
    #wrap{
      height: 100%;
    }
    svg{
      height: 100%;
    }